<div class="d-flex flex-row justify-content-center gap-2 mb-4">
  <button class="btn btn-dark" (click)="fetchPreviusPage()"> Previous Page</button>
  <button class="btn btn-dark" (click)="fetchNextPage()"> Next Page</button>
</div>
<app-card [character]="this.characters"></app-card>
<div class="d-flex flex-row justify-content-center gap-2 my-4">
  <button class="btn btn-dark" (click)="fetchPreviusPage()"> Previous Page</button>
  <button class="btn btn-dark" (click)="fetchNextPage()"> Next Page</button>
</div>
