<footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About me</h5>

        <p>
          Software Engineer with solid experience in developing scalable and efficient applications,
          primarily in front-end technologies such as Angular, .NET, and Java. My career has focused on creating
          innovative solutions,
          continuous improvement, and process optimization. I seek to contribute in a challenging role where I can apply
          my technical
          and strategic skills to drive the success of innovative projects.
        </p>

        <div class="d-flex mt-4 gap-2 bg-dark">
          <!-- GitHub -->
          <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="bi bi-github"></i></a>
          <!-- Twitter -->
          <a type="button" href="https://x.com/MyDigitalMike" target="_blank"
            class="btn btn-floating btn-secondary btn-lg"><i class="bi bi-twitter-x"></i></a>
          <!-- Linkedin -->
          <a type="button" href="https://www.linkedin.com/in/miguel-clavijo/" target="_blank"
            class="btn btn-floating btn-secondary btn-lg"><i class="bi bi-linkedin"></i></a>

        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a class="text-white" href="https://www.linkedin.com/in/miguel-clavijo/">Miguel Eduardo Clavijo</a>
  </div>
  <!-- Copyright -->
</footer>
